<mat-card id="review-card" class="review-card">
    <mat-card>
      <div>
        <!-- <div mat-card-avatar>
             <img [src]="book.image">  maybe ??
        </div> -->
        <div>
          <mat-card-title style="text-align: left;">{{ review2.reviewTitle }}</mat-card-title>
         
          <mat-card-subtitle  style="text-align: left;"> Review by: Author &nbsp;&nbsp;&nbsp; Posted on: {{review2.sentAt}}</mat-card-subtitle>
          <mat-divider inset></mat-divider>
          <br>
          <div>
            <br>
                <mat-card-content class="reviewText"> {{review2.reviewText}} </mat-card-content>
          
            <mat-label class="reviewRating" >Plot Rating: {{ review2.ratingOne }} &nbsp;&nbsp; Content Rating: {{review2.ratingTwo}} &nbsp;&nbsp; Time Rating: {{review2.ratingThree}} </mat-label>
          </div>
        </div>
      </div>
    
    </mat-card>
</mat-card>
  